Simple script to fetch all the latest measurement probe data in Africa, create seperate csv files per country, and cocatenate into a single csv file.

***This notebook, and csv files must be in the same directory***

***Delete all the csv files in the directory if you need to run this script again***

In [10]:
import requests
import json
from pandas.io.json import json_normalize 
import time
from datetime import date
import pandas as pd
import _thread
import matplotlib.pyplot as plt
import matplotlib.dates
import matplotlib as mpl
from datetime import datetime
import numpy as np
import csv
import os
import glob


os.chdir('/home/tunde/GIT_PROJECTS/RIPE_ANALYSIS/African_Probes_Status')

%matplotlib inline

#set ggplot style
plt.style.use('default')
plt.rcParams.update({'font.size': 14})

ATLAS_PROBES_URI = "https://stat.ripe.net/data/atlas-probes/data.json?resource="
ATLAS_DEPLOYMENT_URI = "https://stat.ripe.net/data/atlas-probe-deployment/data.json?resource="

ccs = [
'EG', 'BJ', 'CI', 'CV', 'GH', 'GM', 'GN', 'GW', 'AO', 'CF', 'CG', 'CM', 'GA', 'GQ', 'TD', 'BI', 'DJ', 'ER', 'ET', 'KM', 'BW', 'MA', 'SD', 'TN', 'LR', 'ML', 'MR', 'NE', 'NG', 'SL', 'SN', 'TG', 'ST', 'KE', 'MG', 'MU', 'MW', 'MZ', 'RE', 'RW', 'SC', 'SO', 'UG', 'LS', 'NA', 'SZ', 'ZA', 'DZ', 'EH', 'LY', 'BF', 'SH', 'CD', 'TZ', 'YT', 'ZM', 'ZW']

## Function to get probe status per country and create a seperate csv file per country in the list ***ccs*** above

In [5]:
def getDeployment(cc):
    
    test_url = ATLAS_DEPLOYMENT_URI + cc
    
    df = pd.DataFrame()
    
    try:
        r = requests.get(test_url)
    except requests.exceptions.RequestException as e:
        return "Request FAILED"
    
    try:
        data = json.loads(r.text)['data']['deployments'][0]['deployment']
        df = json_normalize(data)
        df['cc'] = cc
    except KeyError as e:
        pass
    
    return df

## Change directory and generate probe data for each individual country in Africa

In [7]:
for cc in ccs:
        os.chdir('/home/tunde/GIT_PROJECTS/RIPE_ANALYSIS/African_Probes_Status/csv_data_files')
        print(cc)
        a = getDeployment(cc)
        a.to_csv('getDep__'+ cc +'__latest_deployments.csv')

EG
BJ
CI
CV
GH
GM
GN
GW
AO
CF
CG
CM
GA
GQ
TD
BI
DJ
ER
ET
KM
BW
MA
SD
TN
LR
ML
MR
NE
NG
SL
SN
TG
ST
KE
MG
MU
MW
MZ
RE
RW
SC
SO
UG
LS
NA
SZ
ZA
DZ
EH
LY
BF
SH
CD
TZ
YT
ZM
ZW

## Merge the csv files created above

In [8]:
extension = 'csv'

os.chdir('/home/tunde/GIT_PROJECTS/RIPE_ANALYSIS/African_Probes_Status/csv_data_files')

all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv
combined_csv.to_csv( "2020_africa_probes_deployment.csv", index=False, encoding='utf-8-sig')

print('csv files successfully merged')

csv files successfully merged

In [13]:
df = pd.read_csv('/home/tunde/GIT_PROJECTS/RIPE_ANALYSIS/African_Probes_Status/csv_data_files/2020_africa_probes_deployment.csv')
#df = df.iloc[:,[0,1,2,3,4,5,6]]
df.head(5)

,Unnamed: 0,date,statuses.abandoned,statuses.connected,statuses.disconnected,statuses.neverseen,cc
0,0,2020-10-20,7.0,1.0,0.0,3.0,CD
1,1,2020-10-19,7.0,1.0,0.0,3.0,CD
2,2,2020-10-18,7.0,1.0,0.0,3.0,CD
3,3,2020-10-17,7.0,1.0,0.0,3.0,CD
4,4,2020-10-16,7.0,1.0,0.0,3.0,CD

## Rename the columns and confirm

In [15]:
df = pd.read_csv('/home/tunde/GIT_PROJECTS/RIPE_ANALYSIS/African_Probes_Status/csv_data_files/2020_africa_probes_deployment.csv')
df.rename(columns = {'statuses.abandoned': 'abandoned', 'statuses.connected': 'connected', 'statuses.disconnected': 'disconnected', 'statuses.neverseen': 'neverseen'}, inplace = True)
df.drop('Unnamed: 0', axis='columns', inplace=True)
df = df.iloc[:,[0,1,2,3,4,5,]]
df.head()

         date  abandoned  connected  disconnected  neverseen  cc
0  2020-10-20        7.0        1.0           0.0        3.0  CD
1  2020-10-19        7.0        1.0           0.0        3.0  CD
2  2020-10-18        7.0        1.0           0.0        3.0  CD
3  2020-10-17        7.0        1.0           0.0        3.0  CD
4  2020-10-16        7.0        1.0           0.0        3.0  CD

## Group by date and reset index

In [16]:
df_agg = df.groupby(['date'])['neverseen', 'abandoned','connected','disconnected'].sum().reset_index()
#df_agg.set_index('date')
df_agg.tail()
#df_agg.shape

                     date  neverseen  abandoned  connected  disconnected
2303           2020-10-17      108.0      749.0      210.0          57.0
2304           2020-10-18      108.0      749.0      210.0          57.0
2305           2020-10-19      108.0      749.0      207.0          60.0
2306           2020-10-20      108.0      749.0      199.0          68.0
2307  2020-10-20T00:00:00        0.0        0.0        0.0           0.0